<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FZImageBroswer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>649EBA9D1D0E4956007276D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>649EBAB91D0E4956007276D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>649EBAC41D0E4957007276D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
